/*Général*/
*{
    width:auto;
    height:auto;
    margin:0;
}

body {
    padding: 0% 10%;
    width: 80%;    
    background-color: rgb(223, 178, 31);
}

/*Header*/
header {    
    background-color: rgb(57, 121, 216);
    padding-bottom: 1%;    
    border-bottom: 2px dashed rgb(192, 216, 253);
}

h2 {
    padding: 1% 0;
    color: whitesmoke;
    text-align: center;
    background-color: rgb(57, 121, 216);
}

header img {
    border-top: 2px solid rgb(192, 216, 253);;
    border-bottom: 2px solid rgb(192, 216, 253);
    width: 100%;
    object-fit: contain;
}


#navbar {
    background-color: rgb(57, 121, 216);
    padding: 1% 0%;
}

nav ul {    
    list-style-type: none;
    display:flex;
    justify-content: center;
}

ul img {    
    width: 80%;
    border: 2px solid grey;
    padding : 2%;
}

nav li {
    padding-right: 5%;
}

nav a {
    text-decoration: none;
    color: whitesmoke;
}

nav a:hover {
    text-decoration: underline;
}

h1 {
    color: rgb(243, 193, 101);
}

/*Main-général*/
main {
    background-color: white;
    padding: 2%;
    text-align: justify;
}

h1 {
    padding-bottom: 2%;
}
 
section {
    display: flex;
    width: 100%;
}

/*Section article + film*/
.histoire {
    padding-right: 3%;
    width: 70%;
} 

section ul {
    padding-top: 2%;
    list-style-type: none;
    display:flex;
    justify-items:center;
}

.films {
    object-fit: contain;
    height:60%;
}

aside {
    background-color: rgb(57, 121, 216); 
    color: whitesmoke;  
    text-align: center;
}

figcaption {
    display: flex;
    flex-direction: column;
}

/*aside*/
aside {        
    width: 30%;
    height: 60%;
    padding-top: 2%;
}

aside img {
    width: 80%;
    border: 2px solid rgb(192, 216, 253);
}

.groening {
    font-weight: bold;
}

.metier {
    font-style: italic;
}

aside p {
    padding: 8%;
    text-align: justify;
}

/*Footer*/
footer {
    background-color: rgb(37, 86, 160);
    text-align: center;
    padding: 1% 0;
    font-size: 0.8em;
}
